@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*! Links */

body {
  margin: 0;
  font-family: "Roboto", serif;
  background-color: #1c1c1c;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0;
}

p + p {
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  box-sizing: border-box;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  background: #f6762c;
  border-radius: 5px;

  width: 165px;
  height: 50px;

  transition: opacity 0.3s;
}

.btn--small {
  width: 140px;
  height: 40px;
  font-size: 12px;
}

.btn:hover {
  opacity: 0.7;
}

/*! Navbar */

.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 30px;
}

.header__nav a {
  font-size: 14px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.header__nav a.active {
  opacity: 1;
}

.header__nav a:hover {
  opacity: 0.9;
}

/* Welcome section */

.welcome {
  min-height: 100vh;
  box-sizing: border-box;
  margin-top: -100px;
  padding: 240px 0;

  background-image: url("./img/burger.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome__subtitle {
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 7px;
}
.welcome__title {
  font-size: 58px;
}
.welcome__desc {
  font-size: 18px;
  opacity: 0.7;
  margin: 40px 0;
}

.welcome_text {
  width: 550px;
}

/* Food list section */

.food-list {
  padding: 100px 0;
}

.food-list .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px 10px;
}

.food-list__card {
  width: 260px;

  overflow: hidden;
  text-align: center;

  background: #312f30;
  border-radius: 10px;
  cursor: pointer;

  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

.food-list__card:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.food-list_img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.food-list__title {
  font-size: 20px;
  margin-bottom: 13px;
}
.food-list_desc {
  font-size: 16px;
  opacity: 0.7;
}

.food-list_text-wrapper {
  padding: 20px;
}
.welcome_text {
  opacity: 0; /* Початкова непрозорість */
  transform: translateX(-100px);
  animation: slideIn 0.7s ease-out forwards; /* Виклик анімації */
  animation-delay: 0.4s;
  position: absolute;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100px); /* Початкова позиція */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Кінцева позиція */
  }
}

/* Order */

.order {
  background: #312f30;
  padding: 60px 0;
}

.order .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 90px;
}

.order__img {
  max-width: 470px;
}

.order__text {
  max-width: 360px;
}

.order__img:hover {
  opacity: 0.5;
  transform: scale(1.1em);
  cursor: pointer;
}

.order_title {
  font-size: 44px;
  margin-bottom: 25px;
}

.order_desc {
  opacity: 0.7;
  margin-bottom: 15px;
}

.order_price {
  font-weight: 500;
  color: #f6762c;
  letter-spacing: 0.1em;

  font-size: 20px;
}

.order_price--old {
  font-size: 16px;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.order_price + .order_price {
  margin-left: 3px;
}

.order .btn {
  margin-top: 10px;
}

.product {
  padding: 150px 0;
}

.product .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.product_card {
  box-sizing: border-box;

  width: 555px;
  min-height: 300px;

  padding: 60px 25px 60px 290px;

  background-color: #150404;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product_card:nth-child(even) {
  padding: 60px 290px 60px 30px;
}

.product_title {
  font-size: 30px;
  margin-bottom: 20px;
}

.product_desc {
  opacity: 0.7;
  margin-bottom: 10px;
}

.product_price {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #f6762c;
}

.product_price--old {
  text-decoration-line: line-through;
  opacity: 0.5;
}

.product .btn {
  margin-top: 10px;
}

.product_price + .product_price {
  margin-left: 5px;
}

.card-queen {
  background-image: url(./img/group1.jpg);
}

.card-hut {
  background-image: url(./img/group2.jpg);
}

.card-king {
  background-image: url(./img/group3.jpg);
}

.card-papa {
  background-image: url(./img/group4.jpg);
}

/* Feedback */

.feedback .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 880px;
  padding-bottom: 200px;
}

.feedback_text {
  width: 370px;
  text-align: center;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.feedback_text::before {
  content: url(./img/icons/quote.svg);
}

.feedback_desc {
  opacity: 0.7;
  margin: 30px 0;
}

.feedback_auth {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.feedback_subauth {
  font-weight: 500;
  font-size: 12px;

  opacity: 0.7;
  display: block;
}

/* Download */

.download {
  background: #312f30;
  padding: 60px 0;
}

.download .container {
  display: flex;
  justify-content: space-between;
}

.download_title {
  font-weight: 500;
  font-size: 40px;
}

/* Footer section */

.footer {
  padding: 120px 0;
}

.footer a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s;
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.footer .footer_title {
  display: inline-block;
  font-size: 16px;
  opacity: 1;
  margin-bottom: 15px;
  color: #fff;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_logo {
  margin-bottom: 20px;
  width: 70px;
}

.footer_link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer_link + .footer_link {
  margin-top: 10px;
}

.footer_link::before {
  height: 12px;
  width: 12px;
}

.footer_link-mail::before {
  content: url("./img/icons/email.svg");
}

.footer_link-web::before {
  content: url("./img/icons/global.svg");
}

.footer_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer_list-item + .footer_list-item {
  margin-top: 15px;
}

.footer_socials-link + .footer_socials-link {
  margin-left: 8px;
}

@media (max-width: 1100px) {
  .welcome__desc {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .order .container {
    flex-direction: column;
    padding-right: 0;
  }

  .order__text {
    text-align: center;
  }

  .order .btn {
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .footer .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nav nav" "contacts socials";
    justify-items: center;
    gap: 40px 150px;
  }

  .footer_contacts {
    grid-area: contacts;
    justify-self: end;
  }

  .footer_nav {
    grid-area: nav;
  }

  .footer_socials {
    grid-area: socials;
    align-self: center;
    justify-self: start;
  }

  .footer_list {
    gap: 80px;
  }

  .feedback {
    padding-bottom: 100px;
  }
}

@media (max-width: 650px) {
  .header .btn {
    display: none;
  }

  .feedback_img {
    width: 200px;
  }

  .download_title {
    font-size: 30px;
  }

  .welcome_text {
    width: 100%;
  }

  .welcome__title {
    font-size: 40px;
  }

  .welcome__desc {
    margin: 20px 0;
  }

  .product {
    padding: 60px 0 100px;
  }
  /* .header .container{
    flex-direction: column;
    gap: 10px;
  }
  .header__list{
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .header .btn{
    display: none;
  }

  .welcome{
    margin-top: -240px;
  } */
}
